<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SCGCS</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
    <link href="/Content/ultimo_admin/admin/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ultimo_admin/admin/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet" />
    <link href="/Content/ultimo_admin/admin/plugins/dropzone/dropzone.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Content/ultimo_admin/admin/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/Content/ultimo_admin/admin/plugins/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/Content/ultimo_admin/admin/plugins/bootstrap-colorpicker/css/colorpicker.css" />


</head>
<body class="blue_thm  fixed_header left_nav_fixed">
    <div class="wrapper">
        <!--\\\\\\\ wrapper Start \\\\\\-->
        <div class="header_bar">
            <!--\\\\\\\ header Start \\\\\\-->
            <div class="brand">
                <!--\\\\\\\ brand Start \\\\\\-->
                <div class="logo" style="display:block"><span class="white_color">SCGCS </span>2018</div>
                <div class="small_logo" style="display:none"><img src="/Content/ultimo_admin/admin/images/logo_g.png" width="50" height="47" alt="s-logo" /> <img src="/Content/ultimo_admin/admin/images/logo_g.png" width="122" height="20" alt="r-logo" /></div>
            </div>
            <!--\\\\\\\ brand end \\\\\\-->
            <div class="header_top_bar">
                <!--\\\\\\\ header top bar start \\\\\\-->
                <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
                <div class="top_left">
                    <div class="top_left_menu">
                        <ul>
                            <li> <a href="javascript:void(0);"> <i class="fa fa-repeat"></i> </a> </li>
                            <li> <a href="javascript:void(0);"> <i class="fa fa-th-large"></i> </a> </li>
                        </ul>
                    </div>
                </div>
             @*   <a href="javascript:void(0);" class="add_user" data-toggle="modal" data-target="#myModal"> <i class="fa fa-plus-square"></i> <span> New Task</span> </a>
             <div class="top_right_bar">
                    <div class="top_right">
                        <div class="top_right_menu">
                            <ul>
                                <li class="dropdown">
                                    <a href="Javascript:void(0);" data-toggle="dropdown"> Tasks <span class="badge badge">8</span> </a>
                                   <ul class="drop_down_task dropdown-menu">
                                        <div class="top_pointer"></div>
                                        <li>
                                            <p class="number">You have 7 pending tasks</p>
                                        </li>
                                        <li>
                                            <a href="/Content/ultimo_admin/admin/task.html" class="task">
                                                <div class="green_status task_height" style="width:80%;"></div>
                                                <div class="task_head"> <span class="pull-left">Task Heading</span> <span class="pull-right green_label">80%</span> </div>
                                                <div class="task_detail">Task details goes here</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Content/ultimo_admin/admin/task.html" class="task">
                                                <div class="yellow_status task_height" style="width:50%;"></div>
                                                <div class="task_head"> <span class="pull-left">Task Heading</span> <span class="pull-right yellow_label">50%</span> </div>
                                                <div class="task_detail">Task details goes here</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Content/ultimo_admin/admin/task.html" class="task">
                                                <div class="blue_status task_height" style="width:70%;"></div>
                                                <div class="task_head"> <span class="pull-left">Task Heading</span> <span class="pull-right blue_label">70%</span> </div>
                                                <div class="task_detail">Detalles de la tarea</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Content/ultimo_admin/admin/task.html" class="task">
                                                <div class="red_status task_height" style="width:85%;"></div>
                                                <div class="task_head"> <span class="pull-left">Task Heading</span> <span class="pull-right red_label">85%</span> </div>
                                                <div class="task_detail">Task details goes here</div>
                                            </a>
                                        </li>
                                        <li> <span class="new"> <a href="/Content/ultimo_admin/admin/task.html" class="pull_left">Create New</a> <a href="/Content/ultimo_admin/admin/task.html" class="pull-right">View All</a> </span> </li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </div>
                   @*<div class="user_admin dropdown">
                        <a href="javascript:void(0);" data-toggle="dropdown"><img src="/Content/ultimo_admin/admin/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <div class="top_pointer"></div>
                            <li> <a href="/Content/ultimo_admin/admin/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
                            <li> <a href="/Content/ultimo_admin/admin/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
                            <li> <a href="/Content/ultimo_admin/admin/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
                            <li> <a href="/Content/ultimo_admin/admin/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                        </ul>
                    </div>

                </div>*@
            </div>
            <!--\\\\\\\ header top bar end \\\\\\-->
        </div>
        <!--\\\\\\\ header end \\\\\\-->
        <div class="inner light_theme">
            <!--\\\\\\\ inner start \\\\\\-->
            <div class="left_nav">
                <!--\\\\\\\left_nav start \\\\\\-->
                
                <div class="left_nav_slidebar">

                   

                    <ul>
                        @*<li class="left_nav_active theme_border">
            <a href="javascript:void(0);"><i class="fa fa-home"></i> DASHBOARD <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
            <ul >
                <li> <a href="index.html"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b class="theme_color">Dashboard</b> </a> </li>
                <li> <a href="settings.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Settings</b> </a> </li>
                <li> <a href="layouts.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Layouts</b> </a> </li>
                <li> <a href="themes.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Themes</b> </a> </li>
                <li> <a href="widgets.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Widgets</b> </a> </li>
                <li> <a href="animations.html"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Animations</b> </a> </li>
            </ul>
        </li>*@
                        <li>
                            <a href="javascript:void(0);"> <i class="fa fa-edit"></i> MANTENIMIENTO <span class="plus"><i class="fa fa-plus"></i></span></a>
                            <ul>
                                <li> <a href="~/cnfMantenimiento/cnfClsMetodologia/cnfFrmMetodologiaVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Metodología</b> </a> </li>
                                <li> <a href="~/cnfMantenimiento/cnfClsFase/cnfFrmFaseVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Fase</b> </a> </li>
                                <li> <a href="~/cnfMantenimiento/cnfClsEntregable/cnfFrmEntregableVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Entregable</b> </a> </li>


                                <li> <a href="~/cnfMantenimiento/cnfClsUsuario/cnfFrmUsuarioVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Gestionar Usuario</b> </a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> PROYECTO <span class="plus"><i class="fa fa-plus"></i></span></a>
                            <ul>
                                <li> <a href="~/cnfProyecto/cnfClsProyecto/cnfFrmProyectoVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Gestionar Proyecto</b> </a> </li>
                                <li> <a href="~/cnfProyecto/cnfClsProyectoEntregable/cnfFrmProyectoEntregableVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Gestionar Entregables </b> </a> </li>
                                <li> <a href="~/cnfProyecto/cnfClsProyectoMiembro/cnfFrmProyectoMiembroVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Gestionar Miembros</b> </a> </li>
                                <li> <a href="~/cnfProyecto/cnfClsProyectoLineaBase/cnfFrmProyectoLineaBaseVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Gestionar Linea Base</b> </a> </li>
                                <li> <a href="~/cnfProyecto/cnfClsProyectoElementoConfiguracion/cnfFrmProyectoElementoConfiguracionVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Elemento de configuración</b> </a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> CAMBIOS <span class="plus"><i class="fa fa-plus"></i></span></a>
                            <ul>
                                <li> <a href="~/cnfCambios/cnfClsSolicitud/cnfFrmSolicitud"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Enviar Solicitud</b> </a> </li>
                            </ul>
                        </li>


                        @* ----------------------------- *@


                        @*<ul>
                                  <li class="left_nav_active theme_border">
                                    <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Mantenimiento <span class="plus"><i class="fa fa-plus"></i></span></a>
                                    <ul class="closed" style="display:block">
                                        <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Gestionar Metodología <span class="plus"><i class="fa fa-plus"></i></span></a>
                                        <ul class="closed" style="display:block">
                                            <li> <a href="~/cnfMantenimiento/cnfClsMetodologia/cnfFrmMetodologiaVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Metodología</b> </a> </li>
                                            <li> <a href="~/cnfMantenimiento/cnfClsFase/cnfFrmFaseVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Fase</b> </a> </li>
                                            <li> <a href="~/cnfMantenimiento/cnfClsEntregable/cnfFrmEntregableVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Entregable</b> </a> </li>
                                        </ul>
                                        <li> <a href="~/cnfMantenimiento/cnfClsUsuario/cnfFrmUsuarioVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Gestionar Usuario</b> </a> </li>
                                                                    </ul>
                                                                  </li>
                                                        <li class="left_nav_active theme_border">
                                    <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Proyecto <span class="plus"><i class="fa fa-plus"></i></span></a>
                                    <ul class="closed" style="display:block">
                                        <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Gestionar Proyecto <span class="plus"><i class="fa fa-plus"></i></span></a>
                                        <ul class="closed" style="display:block">
                                            <li> <a href="~/cnfProyecto/cnfClsProyecto/cnfFrmProyectoVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Gestionar Proyecto</b> </a> </li>
                                            <li> <a href="~/cnfProyecto/cnfClsProyectoEntregable/cnfFrmProyectoEntregableVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Entregables de Proyecto</b> </a> </li>
                                            <li> <a href="~/cnfProyecto/cnfClsProyectoMiembro/cnfFrmProyectoMiembroVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Miembros de Proyecto</b> </a> </li>
                                            <li> <a href="~/cnfProyecto/cnfClsProyectoLineaBase/cnfFrmProyectoLineaBaseVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Linea Base de Proyecto</b> </a> </li>
                                            <li> <a href="~/cnfProyecto/cnfClsProyectoElementoConfiguracion/cnfFrmProyectoElementoConfiguracionVista"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Elemento de configuración de Proyecto</b> </a> </li>
                                        </ul>
                                              </ul>
        </ul>





                                </li>








                        *@
                    </ul>
                </div>
            </div>
            <!--\\\\\\\left_nav end \\\\\\-->
            <div class="contentpanel">
                <!--\\\\\\\ contentpanel start\\\\\\-->
                <div class="pull-left breadcrumb_admin clear_both">
                    <div class="pull-left page_title theme_color">
                        <h1>SCGCS</h1>
                    </div>
               
                </div>
                <div class="container clear_both padding_fix">
                    <!--\\\\\\\ container  start \\\\\\-->
                    <!-- AQUI VA TU FORMULARIO    -->
                    <!-- AQUI VA TU FORMULARIO -->
                    <!-- AQUI VA TU FORMULARIO -->
                    <!-- AQUI VA TU FORMULARIO -->
                    <!-- AQUI VA TU FORMULARIO -->
                    <!-- AQUI VA TU FORMULARIO -->
                    <!-- AQUI VA TU FORMULARIO -->
                    <!-- AQUI VA TU FORMULARIO -->
                    <!-- AQUI VA TU FORMULARIO -->
                    <!-- desde <div class="row"> -->
                    <div class="container body-content">
                        @RenderBody()
                        <hr />

                    </div>



                </div>
                <!--\\\\\\\ content panel end \\\\\\-->
            </div>
            <!--\\\\\\\ inner end\\\\\\-->
        </div>
        <!--\\\\\\\ wrapper end\\\\\\-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Compose New Task</h4>
                    </div>
                    <div class="modal-body"> content </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Compose New Task</h4>
                    </div>
                    <div class="modal-body">sgxdfgxfg </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>








        <script src="~/scripts/jquery-1.10.2.min.js"></script>

        <script src="~/scripts/jquery.anexgrid.js"></script>
        <script src="/Content/ultimo_admin/admin/js/jquery-2.1.0.js"></script>
        <script src="/Content/ultimo_admin/admin/js/bootstrap.min.js"></script>
        <script src="/Content/ultimo_admin/admin/js/common-script.js"></script>
        <script src="/Content/ultimo_admin/admin/js/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="/Content/ultimo_admin/admin/plugins/toggle-switch/toggles.min.js"></script>
        <script src="/Content/ultimo_admin/admin/plugins/checkbox/zepto.js"></script>
        <script src="/Content/ultimo_admin/admin/plugins/checkbox/icheck.js"></script>
        <script src="/Content/ultimo_admin/admin/js/icheck-init.js"></script>
        <script src="/Content/ultimo_admin/admin/js/jquery.slimscroll.min.js"></script>
        <script src="/Content/ultimo_admin/admin/js/icheck.js"></script>
        <script type="text/javascript" src="/Content/ultimo_admin/admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/Content/ultimo_admin/admin/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/Content/ultimo_admin/admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
        <script type="text/javascript" src="/Content/ultimo_admin/admin/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
        <script type="text/javascript" src="/Content/ultimo_admin/admin/js/form-components.js"></script>
        <script type="text/javascript" src="/Content/ultimo_admin/admin/plugins/input-mask/jquery.inputmask.min.js"></script>
        <script type="text/javascript" src="/Content/ultimo_admin/admin/plugins/input-mask/demo-mask.js"></script>
        <script type="text/javascript" src="/Content/ultimo_admin/admin/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
        <script type="text/javascript" src="/Content/ultimo_admin/admin/plugins/dropzone/dropzone.min.js"></script>
        <script type="text/javascript" src="/Content/ultimo_admin/admin/plugins/ckeditor/ckeditor.js"></script>

        <script>
            /*==Porlets Actions==*/
            $('.minimize').click(function (e) {
                var h = $(this).parents(".header");
                var c = h.next('.porlets-content');
                var p = h.parent();

                c.slideToggle();

                p.toggleClass('closed');

                e.preventDefault();
            });

            $('.refresh').click(function (e) {
                var h = $(this).parents(".header");
                var p = h.parent();
                var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');

                loading.appendTo(p);
                loading.fadeIn();
                setTimeout(function () {
                    loading.fadeOut();
                }, 1000);

                e.preventDefault();
            });

            $('.close-down').click(function (e) {
                var h = $(this).parents(".header");
                var p = h.parent();

                p.fadeOut(function () {
                    $(this).remove();
                });
                e.preventDefault();
            });

        </script>


        <script src="/Content/ultimo_admin/admin/js/jPushMenu.js"></script>
        <script src="/Content/ultimo_admin/admin/js/side-chats.js"></script>


    </div>


</body>
</html>


